.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form {
    width: 100%;
    padding: 2em;
    border-radius: 5px;
    background: aliceblue;
}